
<div id="wrapper">
  <h1>Stupid Coaching</h1>
  <h2>Say whatever you want</h2>

  <form action="answer">
    <input type="text" id="question" name="question">
    <input type="submit" id="btn" value="Ask!">
  </form>
</div>
